.entityBox {
    color: blue;
}

.line {
    color: black;
}

.messge {
    color: black;
}

.scroll {
    float: left;
    position: relative;
    width: 98%;
    height: 800px;
    overflow: auto;
    border: 1px solid #666;
    background-color: #FFF;
    padding: 8px;
}

#floating_container {
    position: fixed;
    left: 65%;
    padding: 2px 5px;
    width:30%;

    background-color: #cccccc;
    border: solid 1px #000;
    color: #000;
    z-index: 11100
}

#floating_container.collapse{
    height:20%;
}

#floating_container.expand{
    height:95%;
}

.canvas {
    position: absolute;
    border: 1px dotted;
    width:800px;
    height:700px;
}


#script_title {
    float: left;
    color: rgb(0, 0, 0);
    font-weight: bold;
}


#handle {
	position: absolute;
	left: 90%;
	width: 20px;
	height: 22px;
	background: url(../resource/google_icons.png) no-repeat -58px -60px;
	cursor: pointer;
}

#handle.collapse{
    background: url(../resource/google_icons.png) no-repeat -38px -60px;
}

#handle.expand{
    background: url(../resource/google_icons.png) no-repeat -58px -60px;

}

#script_container.collapse {
    height:25px;
}

#script_container.expand {
    height:80%;
}
